# dependencies
node_modules/
**/node_modules/

# env / secrets
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# build output
dist/
build/
.next/
out/

# logs
*.log
npm-debug.log*

# prisma
**/prisma/*.db

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
